<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-auth-shell>
  <div class="signin-card">
    <div class="custom-segment">
      <button type="button" class="segment-btn active">Log In</button>
      <button type="button" class="segment-btn" [routerLink]="'/signup'">Sign Up</button>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="signin()" novalidate class="signin-form">

      <div class="input-group input-underline">
        <ion-icon name="mail-outline" class="input-icon"></ion-icon>
        <ion-input type="email" formControlName="email" placeholder="Enter email"></ion-input>
      </div>

      <div class="input-group input-underline">
        <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
        <ion-input [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Password"></ion-input>
        <button type="button" class="input-icon input-action" (click)="hide = !hide">
          <ion-icon [name]="hide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </button>
      </div>

      <div class="forgot-password">
        <a routerLink="/forget-password">Forgot Password?</a>
      </div>

      <button expand="block" class="custom-login-btn" type="submit">Log In</button>
      <button [hidden]="true" type="button" class="continue-btn" routerLink="/">Continue without login</button>

      <div class="or-separator"><span>OR</span></div>

      <div class="google-login">
        <button class="google-btn" type="button" (click)="onGoogleLogin()">
          <img src="assets/images/google.png" class="google-logo" alt="Google logo" />
        </button>
      </div>
    </form>
  </div>
</app-auth-shell>